{% extends "base.html" %}

{% load static %}
{% block content %}



{% if user.is_authenticated%}
    {% include "navbar.html" %}
{% endif %}

{% comment %} Number of visits on site : {{visits}} {% endcomment %}

<br>

{% if user.is_author %}

<div class="row gy-5">					
<div class="col-lg-3 col-md-6 col-sm-12 mb-30 container px-4 text-center">

    <a href="{% url 'upload' %}">
    <div class="card card-box">
        <img class="card-img-top" src={% static "vendors/images/upload_book_card.jpg"%} alt="Card image cap" style="object-fit:cover; height:150px; width:auto">
        <div class="card-body">
            <h5 class="card-title weight-500">Upload Book</h5>
        </div>
    </div>
    </a>
    <br>
    <a href="{% url 'list_books' %}">
    <div class="card card-box">
        <img class="card-img-top" src={% static "vendors/images/book_library_card.jpg"%} alt="Card image cap" style="object-fit:cover; height:150px; width:auto">
        <div class="card-body">
            <h5 class="card-title weight-500">Library</h5>
        </div>
    </div>
    </a>
    <br>
    <a href="{% url 'list_all_users' %}">
    <div class="card card-box">
        <img class="card-img-top" src={% static "vendors/images/users_card.png"%} alt="Card image cap" style="object-fit:cover; height:150px; width:auto">
        <div class="card-body">
            <h5 class="card-title weight-500">All Users</h5>
        </div>
    </div>
    </a>
    <br>
</div>
</div>



{% else %}
<div class="row gy-5">					
<div class="col-lg-3 col-md-6 col-sm-12 mb-30 container px-4 text-center">

    <a href="{% url 'list_books' %}">
    <div class="card card-box">
        <img class="card-img-top" src={% static "vendors/images/book_library_card.jpg"%} alt="Card image cap" style="object-fit:cover; height:150px; width:auto">
        <div class="card-body">
            <h5 class="card-title weight-500">Library</h5>
        </div>
    </div>
    </a>
    <br>
    <a href="{% url 'list_all_authors' %}">
    <div class="card card-box">
        <img class="card-img-top" src={% static "vendors/images/users_card.png"%} alt="Card image cap" style="object-fit:cover; height:150px; width:auto">
        <div class="card-body">
            <h5 class="card-title weight-500">All Authors</h5>
        </div>
    </div>
    </a>
    <br>
</div>
</div>
{% endif %}




{% endblock  %}
