{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% include 'navbar.html' %}
{% endif %}

<br><br><br>

<div class="container-md">
            <div class="page-header">
					<div class="row">
						<div class="col-md-12 col-sm-12">

<h5> List of all Authors </h5> <br><br>
  <div class="col-sm-12">
    <table class="data-table table stripe hover" id="DataTables_Table_0" role="grid" >
    <thead>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Details</th>
      </tr>
      <tbody>
        
        {% for author in all_authors %}
        <tr>
            <td>{{author.id}} 
            <td > {{author.username}} </td>
            <td > <a href="{% url 'user_details' pk=author.id %}"> view details </a> </td>
        </tr>
        {% endfor %}
      </tbody>

      

    </table>
  </div>
  </div>
  </div>
  </div>
  </div>


{% endblock %}