{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Navbar-->

  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% comment %} <a class="navbar-brand" href="{% url 'index' %}" > <img src=src="{% static '/vendors/images/deskapp-logo.svg' %}"></img></a> {% endcomment %}

  <a href="{% url 'index' %}">
				<img src={% static "vendors/images/deskapp-logo.svg"%} alt="" style="width:50%; height:auto %" class="dark-logo">
			</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText" >
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}"> | Home   | </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Welcome, {{user.username}}</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Panel</a>
      </li>
 
 
      <li class="nav-item" >
        <a class="nav-link" href="/logout" style="color:red">Logout</a>
      </li>
      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>


      {% endif %}
    
    </ul>
  </div>

 
    {% comment %} <button class="btn btn-secondary btn-d-sm-block" disabled=""> {% if user.is_author %}Author {% else %} User {% endif %} </button> {% endcomment %}
    
    
</nav>


{% endblock content %}