{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="login-header box-shadow">
		<div class="container-fluid d-flex justify-content-between align-items-center">
			<div class="brand-logo">
				<a href="{% url 'index' %}">
					<img src={% static "vendors/images/deskapp-logo.svg"%} alt="">
				</a>
			</div>
			<div class="row">
				<ul>
					<a class="nav-link" href="/admin">Admin Panel</a>
				</ul>
          <a class="nav-link disabled">Welcome, {{user.username}}</a>
        <ul>
				</ul>
          <a class="nav-fill" id="dp" href="#" data-toggle="modal" data-target="#Medium-modal" >

           <span class="user-icon">
             <img class="rounded-circle account-img" src={{user.profile.image.url}} alt="" style="object-fit: cover;width:50px; height:50px">
             
            </span>
          </a>
        <ul>

        </ul>
			</div>
		</div>
	</div>

<!-- new navbar -->
{% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row">

      <div class="header-left">
      
        <a href="{% url 'index' %}">
          <img src={% static "vendors/images/deskapp-logo.svg"%} alt="" class="dark-logo">
        </a>
      
      </div>
    </div>
    
    <div class="header-right">
      <div class="row">
        
        <a class="nav-link" href="/admin">Admin Panel</a>


         <a class="nav-link disabled">Welcome, {{user.username}}</a>

         <a class="nav-fill" id="dp" href="#" data-toggle="modal" data-target="#Medium-modal" >

           <span class="user-icon">
             <img class="rounded-circle account-img" src={{user.profile.image.url}} alt="" style="object-fit: cover;width:50px; height:50px">
             
            </span>
          </a>
          
         
          
    </div>

  
</nav> {% endcomment %}

<!-- Modal -->
 
<div class="modal" id="Medium-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none; padding-right: 17px;" aria-modal="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myLargeModalLabel">Profile</h4>
											
										</div>
										<div class="modal-body">
                                  
                          <a class="dropdown-item" href="{% url 'user_details' user.id  %}"><i class="dw dw-user1"></i> User Details</a>
                
                    
                      <a class="dropdown-item" href="{% url 'profile' %}"><i class="dw dw-settings2"></i> Edit Profile</a>
                      
										</div>
										<div class="modal-footer">
                      <a href="{% url 'logout' %}">
											  <button type="button" class="btn btn-danger" href="{% url 'logout' %}" >Logout</button>
                      </a>
											<button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
											
										</div>
									</div>
								</div>
							</div> 

<!--Navbar-->
  
{% comment %} <div id="Medium-modal">
  <a class="dropdown-item" href="{% url 'user_details' user.id  %}"><i class="dw dw-user1"></i> User Details</a>
                
                    
  <a class="dropdown-item" href="{% url 'profile' %}"><i class="dw dw-settings2"></i> Edit Profile</a>
</div> {% endcomment %}

 <script 
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  {% comment %} $('#Medium-modal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
}) {% endcomment %}

var dp = document.querySelector('#dp')
var modal = document.querySelector('.modal')

function openModal(){
  modal.style.display = 'block';
}

dp.onclick = openModal;
</script>

  <script src={% static "vendors/scripts/core.js"%}></script>
	<script src={% static "vendors/scripts/script.min.js"%}></script>
	<script src={% static "vendors/scripts/process.js"%}></script>
	<script src={% static "vendors/scripts/layout-settings.js"%}></script>

{% endblock content %}